* {
    box-sizing: border-box;
}

h2.emphasize {
    color: seagreen;
}

h2.quote {
    color: blueviolet;
    font-style: italic;
}

div {
    padding: 36px 72px;
}

img {
    object-fit: contain;
}



